// ===== fonts ====
@use 'mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');
$main-font:'Prompt', sans-serif;
$yellow-color:#ebf000;
$dark-blue:#232236;
$glow-color:#6FD8F5;

body {
    font-family:$main-font !important;
    background-color:#03021e;
    position:relative;
}
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
a {
    text-decoration:none;
    color:#fff;
}
ul {
    list-style: none;
    margin-bottom:0 !important;
    padding-left:0;
}
section {
    overflow:hidden;
}
.section-title {
    margin-bottom:40px;
    text-align:center;
    color:#fff;
    
    h2 {
        font-weight:700;
        font-size:46px;
        margin-bottom:25px;
        line-height:1.2;
        color:#fff;
    }
    p {
        font-size:18px;
        margin-bottom:50px;
    }
    span {
      @include after($yellow-color);
    }
}
p {
    line-height:28px;
    font-size:18px;
    color:#fff;
}
label {
    font-size:14px !important;
    margin-top:25px !important;
    margin-bottom:5px;
}

input {
    border:4px solid #f1f1f1;
    width:100%;
    height:60px;
    padding:6px 12px;
    font-size:14px;
    color:#fff;
    display:block;
    background-color:transparent;
}
#submit {
    border:none;
    font-size:18px;
    text-transform:uppercase;
    font-weight:500;
    margin-top:15px;
}
h1 {
    font-size:70px;
    font-weight:700;
    color:#ffff;
    word-wrap: wrap;
    span {
        color:#000;
        background-color:$yellow-color;
        display:block;
        padding-left:10px;
        width:fit-content;
    }
}

h6 {
    
    font-weight:700;
    margin-bottom:20px;
    color:$yellow-color !important;
    font-size:18px;
}
.owl-theme .owl-nav {
    display:flex;
    justify-content:space-between;
    position:absolute;
    width:98%;
    top:54%;
    left:13px;
}
.owl-dots {
    display:none;
}
.owl-carousel .owl-nav button.owl-next ,.owl-carousel .owl-nav button.owl-prev{
    background-color:#767582;
    font-size:40px;
    color:#000;
    width:40px;
    height:40px;
    border-radius:50%;
    display:grid;
    place-content:center;
}
.active-line {
    color:$yellow-color !important
}
.bar-btn {
    color:#fff;
    background-color:transparent;
    border:none;
    font-size:25px;
    display:block;
}
.offcanvas {
    .item{
        padding:10px;
        color:#54606e;
        margin:0;
        border-bottom:1px solid #e8f6f5;
    }
    h5 {
        border:none;
    }
    .item-link {
        color:#54606e;
        font-size:18px;
        font-weight:400;
    }
    .minue {
        display:none;
        padding-top:10px;
    }
    .main-btn {
        a{
            color:rgba(27, 170, 160, 1.0);
            font-weight:400;
        }
        &:hover {
            background-color:#010035;
        }
        &:hover a {
            color:#fff;
        }
    }    
    
}
#movTop {
    position:fixed;
    left:20px;
    bottom:20px;
    z-index:99;
    padding:10px 16px;
    background-color:$yellow-color;
    display:none;
}
.blue-bg {
    background-image: url(../All_images/bg-blue.png);
    @include bgimg();
}
.yellow-bg{
    background-image: url(../All_images/bg-yellow.png);
    @include bgimg();
}
.w-160 {
    width:160px !important;
    margin:auto;
}
span.after {
    @include after($yellow-color);
}
.bg-darkBlue {
    background-color:$dark-blue;
}
.overlay {
    @include overlay(rgba(0, 0, 0, 0.7));
   
}
#login form {
    background-color:#0f0f0f;
    border: 1px solid rgb(48, 50, 51);
    border-radius: 2px;
    padding:5rem;
    position:relative;
    margin:5vh auto;
    text-align:center;
    color:#fff;
    .logo-img {
        width:236px;
        margin:25px auto 55px;
    }
    input:not([type="submit"]) {
        border:1px solid rgba(255, 255, 255, 0.1);
        box-shadow:rgba(32, 42, 53, 0.05) 0px 23px 22px;
        border-radius:2px;
        margin-bottom:8px;
    }
    .password {
        a {
            text-decoration: underline;
            font-size:11px;
            margin:10px;
            display:block;
            text-align:right;
        }
    }
    #loginbtn {
        height:60px;
        box-shadow: rgba(32, 42, 53, 0.05) 0px 23px 22px;
        background-color:rgb(113, 65, 206);
        border:none;
        border-radius:2px;
        margin:16px 0;
    }
    .protect-text {
        font-size:13px;
        font-weight:400;
        background-color:#1a73e8;
        padding:8px 18px;
        a {
            font-weight:normal;
        }
    }
    .protected-img {
        background-color:#fff;
        padding:12px 12px;
        border-radius:0 2px 2px 0;
    }
    .privacy{
        font-size:10px;
        margin:20px 6px 5px 12px;
        text-decoration:underline;
    }
    a.signup {
        color:rgb(147, 151, 152);
        font-size:10px;
        strong {
            color:#fff;
        }
    }
}

.hide-1 , .hide-2 {
    opacity:0;
    transform: translateY(30px);
    transition: 1s;
}
.swideget {
    border:2px solid $glow-color;
    border-radius:8px;
    padding:40px;
    .section-details {
        margin-top:100px;
        span {
            display:block;
            width:50px;
            height:50px;
            background-color:$glow-color;
            color:#fff;
            margin: 30px auto;
            display:grid;
            place-content:center;
            font-size:20px;
            cursor:pointer;
        }
        
    }
    

}
.section-details {
    display:none;
}

#Blog button span {
    display:none;
}
#Blog button:first-child {
    background-image:url(../All_images/watches&jewelry/Vector-2.png);
    background-size:cover;
}
#Blog button:last-child {
    background-image:url(../All_images/watches&jewelry/Vector\ \(1\)-2.png);
    background-size:cover;
}